<button type="button" class="btn btn-outline-dark"><a href="/"><- Ir a formulario</a></button>
<h2 class="my-3">Vista de Productos</h2>
{{#if productos.length }}
   <table class="table table-success table-striped-columns">
    <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Precio</th>
      <th scope="col">Foto</th>
    </tr>
  </thead>
    {{#each productos}}
    <tbody>
      <tr>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td><img src="{{thumbnail}}" class="img-thumbnail" alt=""></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
{{else}}
<div class="alert alert-warning" role="alert">
 <h5>No se encontraron productos.</h5>
</div>
{{/if}}